<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Sentry Demo </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="full" (click)="failFunction()"
    >Call fail function</ion-button
  >
  <ion-button expand="full" (click)="throwJsError()">Throw JS error</ion-button>
  <ion-button expand="full" (click)="throwJsErrorTwo()"
    >Throw JS error 002</ion-button
  >
  <ion-button expand="full" (click)="captureSentryError()"
    >Capture Sentry error</ion-button
  >
  <ion-button expand="full" (click)="errorWithScope()"
    >Capture error with scope</ion-button
  >
</ion-content>
